/* Author:          Fazal Khan
   Github:          acse-fk4517
   Github Repo:     https://github.com/acse-2019/irp-acse-fk4517
*/
#animationInterface {
    margin-top: 50px;
    margin-bottom: 50px;
}

.progressBar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.inline-div {
    display: block;
    text-align: center;
}

h3 {
    display: inline-block;
    text-align: center;
}

.picta-button {
    background-color: #003E74;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.picta-button:hover {
    background-color: #002147;
    color: white;
}

.grid-title h1 {
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-weight: normal;
}

.grid-container {
    padding-top: 40px;
    background: white;
}